.orders-main-view {
	.items-container {
		@media screen and (min-width: 800px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 5%;
			flex-wrap: wrap;

			@media screen and (min-width: 1366px) {
				justify-content: flex-start;
			}
		}
		.order {
			border-top: 1px solid black;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 13px;
			margin-bottom: 4%;

			@media screen and (min-width: 800px) {
				border-top: none;
				border-left: 1px solid black;
				padding-left: 20px;
				width: 33%;
				justify-content: center;
				margin-bottom: 7%;
				height: 300px;
			}

			@media screen and (min-width: 1366px) {
				border: 1px solid black;
			}

			h4 {
				font-family: 'Oswald', sans-serif;
				font-weight: 400;
				margin-bottom: 3%;

				@media screen and (min-width: 800px) {
					text-align: center;
				}
			}

			p {
				font-weight: 400;

				span {
					font-weight: 800;
				}
			}
			img {
				width: 150px;
				height: 150px;
				object-fit: cover;
				margin-bottom: 2%;
			}
		}
	}
}
