.desktop-outer-sub-menu-container {
	background: #fff;
	width: 100%;
	position: fixed;
	z-index: 1000;
	padding: 2% 5% 0% 5%;

	.desktop-sub-menu-container {
		height: 100%;

		ul {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			height: 100%;

			h4 {
				font-family: 'Roboto', sans-serif;
				font-weight: 400;
				margin-bottom: 3%;
			}
			li {
				margin-bottom: 4%;
				font-size: 12px;
			}
		}
	}
}
