.pages-container {
	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		li {
			width: 35px;
			height: 35px;
			border: 1px solid gainsboro;
			margin-right: 6px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			@media screen and (min-width: 1366px) {
				margin-right: 1%;
			}

			&:hover {
				cursor: pointer;
			}
		}
		.active-page {
			border-color: black;
		}
	}
}
