.pages-container {
	ul {
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		li {
			padding: 10px 16px;
			border: 1px solid black;
			margin-right: 3%;

			@media screen and (min-width: 1366px) {
				margin-right: 1%;
			}

			&:hover {
				cursor: pointer;
			}
		}
	}
}
