.cart-section-container {
    margin:4% 5% 0 5%;
    .quantity-container {
        max-width: 100%;
        display: flex;
        flex-direction: row;

        .btn {
            width: 44px;
            height: 44px;
            background-color: black;
            border: none;
            color: #fff;
            flex-shrink: 0;
        }

        .quantity-input {
            text-align: center;
            height: 44px;
            width: 100%;
            border-top: thin solid #d3d3d3;
            border-bottom: thin solid #d3d3d3;
            border-right: none;
            border-left: none; 
            font-family: Roboto, sans-serif;
            font-size: 15px;
        }
    }
}