
.product-arrival-section {
        overflow-x: auto;
        z-index: 0;
       
    .arrival-product-container {
         display: flex;
         width: 180%;
         

        .product-image { 
            width: 80%;      
        }
    }

    
}

.product-arrival-section::-webkit-scrollbar {
    display: none;
}

