

.arrival-main-view {

    margin-top: 5%;
    .product-arrival-section {
        overflow-x: auto;
        z-index: 0;
        margin-top: 4%;
        scrollbar-width: none;
        
        ::-webkit-scrollbar {
            width: 0px;
            background: transparent; /* make scrollbar transparent */
        }
       
        .arrival-product-container {
            display: flex;
            width: 100%;
         

            .arrival-product {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 5%;

                .product-image { 
                width: 112px;
                height: 112px;
                object-fit: cover;      
                }

                h3 {
                font-size: 0.7rem;
                text-transform: uppercase;
                font-family: 'Alata', sans-serif;
                text-align: center;
                margin-top: 5%;
                font-family: 'Roboto', sans-serif;
                }

                .product-price {
                    margin-top: 2%;
                }
            }
    
        }   
    }
}

.product-arrival-section::-webkit-scrollbar {
    display: none;
}

