.menu-cart-container {
	background-color: #fff;
	transition: all ease-in 0.5s;
	position: absolute;

	left: 0px;
	z-index: 1;
	opacity: 0;
	width: 100%;
	box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
	visibility: hidden;

	@media screen and (min-width: 1366px) {
		position: fixed;
		width: 30%;
		height: 100vh;
		left: auto;
		right: -450px;
	}

	@media screen and (min-width: 1700px) {
		width: 22%;
	}
	.item-container {
		display: flex;
		justify-content: flex-start;
		border-top: 2px solid rgba(211, 211, 211, 0.5);
		align-items: start;
		position: relative;
		padding: 15px 0;
		transition: all ease-in 0.7s;
		.image-container {
			margin-right: 8%;
			margin-left: 5%;
			img {
				width: 69px;
				height: 86px;
				object-fit: contain;
			}
		}

		.item-info {
			display: flex;
			flex-direction: column;
			width: 50%;
			align-self: center;
			line-height: 1.4;

			h4 {
				width: 85%;
				font-size: 12px;
			}

			span {
				font-size: 12px;
			}
			.size {
				font-size: 0.7rem;
			}
			.price {
				font-size: 15px;
			}
		}

		.remove {
			width: 20px;
			height: 20px;
			background-color: rgba(10, 10, 10, 0.3);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			position: absolute;
			top: 31px;
			right: 18px;
			cursor: pointer;
		}
	}

	.go-to-cart-container {
		padding: 1rem;
		border-top: 2px solid rgba(211, 211, 211, 0.5);
		.sub-total-container {
			display: flex;
			justify-content: space-between;
			font-size: 12px;
		}

		.go-to-cart-btn {
			display: flex;
			justify-content: center;

			button {
				margin-top: 8%;
				width: 100%;
				min-height: 40px;
				border: none;
				background-color: black;
				color: #fff;
				font-size: 16px;
			}
		}
	}
}

.menu--active {
	opacity: 1;
	transition: all ease-in 0.3s;
	visibility: visible;

	@media screen and (min-width: 1366px) {
		right: 0;
	}
}
