.product-main-container {
	padding: 0 25px;
	.sort-filter-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		margin: 5% 0 0 8%;

		@media screen and (min-width: 768px) {
			justify-content: space-between;
			margin-left: 2%;
			margin-right: 2%;
		}

		@media screen and (min-width: 800px) {
			justify-content: flex-end;
			margin-right: 1%;
		}
	}

	.products-desktop-filter-container {
		display: flex;

		@media screen and (min-width: 800px) {
			margin-top: 3%;
		}
		.products-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;

			@media screen and (min-width: 800px) {
				flex: 4;
			}
			.product-container {
				width: 48%;

				@media screen and (min-width: 768px) {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin-left: 2%;
				}

				@media screen and (min-width: 800px) {
					width: 31%;
					margin-top: 0;
					margin-bottom: 3%;
				}

				.image-container {
					margin: 0 5%;
					width: 100%;
					display: flex;
					justify-content: center;

					@media screen and (min-width: 768px) {
						margin: 0;
					}
					.image {
						width: 131px;
						height: 158px;
						object-fit: contain;

						@media screen and (min-width: 450px) {
							width: 195px;
							height: 195px;
						}

						@media screen and (min-width: 768px) {
							width: 100%;
							height: 434px;
							margin-right: 0;
						}

						@media screen and (min-width: 800px) {
							height: 223px;
						}
					}
				}

				.name {
					text-align: center;
					font-size: 12.5px;
					font-weight: 300;
					padding: 0 5%;
					margin-top: 4%;
				}

				.item-price {
					text-align: center;
					margin-top: 3%;
				}
			}
		}
	}
}
