.shop-footer-container {
	margin-top: 5%;

	@media screen and (min-width: 800px) {
		width: calc(25% - 20px);
		margin-top: 0;
		margin-left: calc(20px / 2);
		margin-right: calc(20px / 2);
	}

	ul {
		list-style: none;
		li {
			margin-bottom: 1%;

			@media screen and (min-width: 800px) {
				font-size: 14px;
				font-weight: 300;
				line-height: 1.5;
			}
		}
	}
}
