.dropdown-container {
	position: relative;
	margin-right: 5%;

	@media screen and (min-width: 800px) {
		margin-right: 0;
	}
	.dropdown {
		padding-right: 2.5rem;
		font-size: 15px;
		border: 1px solid transparent;
		border-color: #d3d3d3;
		appearance: none;
		padding: 0.5rem 2.5rem 0.5rem 1rem;
		margin-right: 2%;
		width: 100%;
	}

	&:after {
		font-family: 'FontAwesome';
		content: '\f078';
		font-weight: 300;
		position: absolute;
		pointer-events: none;
		top: 7px;
		right: 19px;
	}
}
