.shipping-container {
    margin: 3% 5% 0 5%;
     
    .shipping-list {
        margin: 2% 0 0 8%;

        li {
            margin-bottom: 2%;
            font-family: Roboto, sans-serif;
            font-size: 15px;
            font-weight: 300;
            line-height: 1.4;
        }
    }
}