.menu-container {
    width: 100%;
    height: 200px;
    background-color: #fff;
    position: absolute;
    top:51px;
    left: -380px;
    transition: ease 0.5s all;
   


    
}

.active {
    @extend .menu-container;
    left: 0px;
}