.menu-container {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 51px;
    left: -380px;
    transition: 0.5s ease all;
    
    

      .list-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          align-items: center;
          list-style: none;
          

           .list-item {
               width: 100%;
               display: flex;
               justify-content: space-between;
               padding: 0 0.5rem;
               border-bottom: 1px solid #e5e5e5;
               align-items: center;
               min-height: 50px;
           }
      }

    
}

.activated {
    @extend .menu-container;
    left: 0px;
    
}