@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

#home-paige-container {
	height: 50vh;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: beige;
}

.slider-item-container {
	a {
		padding: 0.3rem 4rem;
		border: 1px solid #fff;
		text-decoration: none;
		color: #fff;
		margin-top: 3%;

		@media screen and (min-width: 768px) {
			padding: 0.8rem 4rem;
		}

		@media screen and (min-width: 1366px) {
			margin-top: 1%;
		}
	}

	.over-lay {
		width: 100%;
		height: 100%;
		background-color: rgba(2, 1, 1, 0.6);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.item-one {
		width: 250px;
		height: 200px;
		background: url('../images/homapge1.jpg') no-repeat center center/cover;
		@media screen and (min-width: 450px) {
			height: 255px;
		}

		@media screen and (min-width: 768px) {
			height: 440px;
		}

		@media screen and (min-width: 1366px) {
			height: 100vh;
		}
	}

	.item-two {
		width: 250px;
		height: 200px;
		background: url('../images/homepage2.jpg') center/cover no-repeat;
		@media screen and (min-width: 450px) {
			height: 255px;
		}

		@media screen and (min-width: 768px) {
			height: 440px;
		}

		@media screen and (min-width: 1366px) {
			height: 100vh;
		}
	}

	.item-three {
		width: 250px;
		height: 200px;
		background: url('../images/homepage4.jpg') center/cover no-repeat;
		@media screen and (min-width: 450px) {
			height: 255px;
		}

		@media screen and (min-width: 768px) {
			height: 440px;
		}

		@media screen and (min-width: 1366px) {
			height: 100vh;
		}
	}
}

.dotsa {
	position: static !important;
}

.home-page-title {
	color: #fff;
	font-size: 1rem;
	font-family: 'Alata', sans-serif;

	@media screen and (min-width: 768px) {
		font-size: 1.4rem;
	}

	@media screen and (min-width: 1366px) {
		font-size: 2rem;
	}
}
