#home-paige-container {
    height: 50vh;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: beige;
}


.parent-container-slider {
    .item-one {
        width: 250px;
        height: 200px;
        background-color: red;
    }

    .item-two {
        width: 250px;
        height: 200px;
        background-color: blue;
    }

    .item-three{
        width: 250px;
        height: 200px;
        background-color: green;
    }
}

.item-one {
    width: 250px;
    height: 200px;
    background: url('../images/homapge1.jpg') center/cover no-repeat ;
}
