#nav-bar {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 2% 5% 2.1% 5%;
	z-index: 2;
	background-color: #fff;

	@media screen and (min-width: 768px) {
		padding-bottom: 1%;
	}

	@media screen and (min-width: 800px) {
		padding-left: 4%;
	}

	@media screen and (min-width: 1366px) {
		padding: 1% 5% 1% 4%;
	}

	@media screen and (min-width: 1920px) {
		padding: 0.4% 2% 0.4% 2%;
	}

	.burger-menu {
		@media screen and (min-width: 800px) {
			display: none;
		}
	}
	.logo {
		// width: 40px;
		width: 15%;
		margin-left: 7%;
		@media screen and (min-width: 768px) {
			width: 7%;
			margin-left: 5%;
		}

		@media screen and (min-width: 800px) {
			width: 8%;
			margin-left: 0;
		}

		@media screen and (min-width: 1920px) {
			width: 4.2%;
		}
	}

	.user-cart-container {
		display: flex;
		flex-direction: row;

		.user-icon {
			margin-right: 20%;
		}

		.nav-cart-container {
			position: relative;

			span {
				position: absolute;
				top: -8px;
				right: 1px;
				color: #fff;
				z-index: 1;
				border-radius: 50%;
				background-color: red;
				padding: 0 0.3rem;
				font-size: 0.7rem;
				font-weight: bold;
			}

			.double-digit {
				@extend span;
				padding: 0 0.2rem;
			}
		}
	}
}
