.about-company-container {
	@media screen and (min-width: 800px) {
		width: calc(25% - 20px);
		margin-left: calc(20px / 2);
		margin-right: calc(20px / 2);
	}
	.list-container {
		list-style: none;
		li {
			margin-bottom: 1%;
			a {
				text-decoration: none;
				color: black;
				font-weight: 300;
				font-size: 14px;
				line-height: 1.5;
			}
		}
	}
}
