.about-company-container {

    .list-container {
        list-style: none;
    li { 
        margin-bottom: 1%;
        a {
            text-decoration: none;
            color: black
        }
      }
    }
}