.dashboard-container {
	padding: 0 16px;
	margin-top: 8%;

	@media screen and (min-width: 768px) {
		padding: 0 40px;
	}

	@media screen and (min-width: 1366px) {
		padding: 0 80px;
	}

	.title-container {
		width: 100%;
		h1 {
			font-size: 1.5rem;
			margin-bottom: 1.5rem;
			font-family: 'Oswald', sans-serif;
			font-weight: 400;

			@media screen and (min-width: 1366px) {
				margin-bottom: 1rem;
				font-size: 25px;
			}
		}

		.underline {
			width: 70px;
			border-top: thin solid;
			margin-bottom: 1.2rem;
		}
	}
	.user-content {
		h5 {
			font-family: 'Roboto', sans-serif;
			font-weight: 500;

			@media screen and (min-width: 800px) {
				font-size: 17px;
			}
		}

		p {
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
			font-size: 15px;
		}

		.sub-content {
			margin-bottom: 8%;

			@media screen and (min-width: 1366px) {
				margin-bottom: 2%;
			}
		}
	}

	.orders-container {
		h3 {
			margin-bottom: 2%;
			font-family: 'Roboto', sans-serif;
			font-weight: 500;

			@media screen and (min-width: 800px) {
				font-size: 25px;
			}
		}

		margin: 8% 0;
	}

	.form-btn {
		width: 22%;
		align-self: flex-start;
		height: 5vh;
		background-color: #fff;
		border: 1px solid #000;
		font-size: 16px;
		font-weight: 500;
		font-family: 'Oswald', sans-serif;

		@media screen and (min-width: 800px) {
			width: 15%;
			height: 4vh;
		}

		@media screen and (min-width: 1366px) {
			width: 7%;
		}
	}
}
