.desktop-links-outer-container {
	width: 70%;

	@media screen and (max-width: 799px) {
		display: none;
	}
	ul {
		display: flex;
		justify-content: center;

		li {
			display: flex;
			align-items: center;
			margin-right: 2%;
			width: 20%;
			justify-content: center;

			@media screen and (min-width: 800px) {
				margin-right: 0;
			}

			@media screen and (min-width: 1920px) {
				width: 9%;
			}

			&:hover {
				cursor: pointer;
			}
		}
		.arrow-icon {
			margin-left: 7%;
			transition: all ease 0.2s;

			// &:hover {
			// 	transform: rotate(180deg);
			// 	transition: ease 0.2s transform;
			// }
		}

		.hovered {
			@extend .arrow-icon;
			transform: rotate(180deg);
		}
	}
}
