#footer {
	border-bottom: 1px solid black;
	margin-top: 5%;
	padding-bottom: 5%;

	@media screen and (min-width: 1700px) {
		margin-top: 2%;
		padding-bottom: 2%;
	}
	.footer-inner-container {
		padding: 0 5% 10% 5%;

		@media screen and (min-width: 768px) {
			padding-botton: 7%;
		}

		@media screen and (min-width: 800px) {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			max-width: 1200px;
			width: 95%;
			margin-left: auto;
			margin-right: auto;
			padding: 0 1%;
		}
	}
}

.copy-right {
	padding-top: 35px;
	display: flex;
	justify-content: center;
	margin-bottom: 3%;

	@media screen and (min-width: 1366px) {
		max-width: 1200px;
		margin: 0 auto 3% auto;
		text-align: left;
		justify-content: flex-start;
	}

	h5 {
		@media screen and (min-width: 1366px) {
			margin-left: calc(20px/2);
			margin-right: calc(20px/2);
			padding-left: 1%;
		}
	}
}
