.gallery-section {
    margin-top: 8%;
   
    .gallery-main-view {
        
          overflow-x: auto;

        .gallery-images {
            width: 171.5px;
            height: 171.5px;
            object-fit: cover;
        }
    }
}