.gallery-section {
	margin: 6% 0;

	.gallery-main-view {
		overflow-x: auto;
		position: relative;
		z-index: 0;
		.image-container {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;

			.gallery-images {
				width: 171.5px;
				height: 171.5px;
				object-fit: cover;
				flex-shrink: 0;
				margin: 8px;

				@media screen and (min-width: 450px) {
					width: 200.5px;
					height: 200.5px;
				}

				@media screen and (min-width: 768px) {
					width: 232.5px;
					height: 232.5px;
				}

				@media screen and (min-width: 1366px) {
					width: 325.5px;
					height: 325.5px;
				}
			}
		}
	}
}
