

.email-container {
    margin: 5% 0;

    .text-container{
        margin-bottom: 8%;

        .subtitle{
            font-family: 'Roboto', sans-serif;
            margin-bottom: 4%;
        }

        p {
            font-family: 'Roboto', sans-serif;
        }
    }

    .email-form{
      
        h4 {
            font-family: 'Roboto', sans-serif;
            margin-bottom: 2%;
        }
        .email-input{
            width: 100%;
            padding: 0.6rem 0.5rem;
            margin-bottom: 4%;
            border:1px solid #b5b5b5;
        }
        .sign-up {
          width: 100%;
          flex-shrink: 0;
          padding: 0.6rem 0.5rem;
          background-color: black;
          border: none;
          color: #fff;
          font-size: 1rem;
          font-family: 'Roboto', sans-serif;
        }
    }
}