.no-qry-container {
	display: flex;
	height: 30vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.qry-container {
	h1 {
		text-align: center;
		margin-top: 4%;
	}
	.underline {
		width: 80px;
		height: 2px;
		background-color: black;
		text-align: center;
		margin: 0 auto;
	}
	.products-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		@media screen and (min-width: 768px) {
			padding: 0 24px;
		}
		.product-container {
			width: 48%;

			@media screen and (min-width: 768px) {
				margin-left: 2%;
			}
			.image-container {
				margin: 0 5%;
				width: 100%;
				display: flex;
				justify-content: center;

				@media screen and (min-width: 768px) {
					justify-content: flex-start;
				}
				.image {
					width: 131px;
					height: 158px;
					object-fit: contain;

					@media screen and (min-width: 768px) {
						width: 100%;
						height: 434px;
					}
				}
			}

			.name {
				text-align: center;
				font-size: 12.5px;
				font-weight: 300;
				padding: 0 5%;
			}

			.item-price {
				text-align: center;
				margin-top: 3%;
			}
		}
	}
}
