.no-qry-container {
	display: flex;
	height: 30vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.qry-container {
	h1 {
		text-align: center;
		margin-top: 4%;
	}

	@media screen and (min-width: 800px) {
		padding: 0 5%;
	}

	@media screen and (min-width: 1366px) {
		padding: 0;
		max-width: 1200px;
		margin: 0 auto;
	}
	.underline {
		width: 80px;
		height: 2px;
		background-color: black;
		text-align: center;
		margin: 0 auto;
	}
	.products-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding: 0 16px;
		margin-top: 5%;

		@media screen and (min-width: 768px) {
			padding: 0 24px;
		}

		@media screen and (min-width: 800px) {
			padding: 0;
			justify-content: space-between;
		}
		.product-container {
			width: 48%;
			display: flex;
			flex-direction: column;
			align-items: center;

			@media screen and (min-width: 768px) {
				margin-left: 2%;
			}

			@media screen and (min-width: 800px) {
				width: 31%;
				margin: 0 0 5% 0;
			}
			.image-container {
				margin: 0 5%;
				width: 100%;
				display: flex;
				justify-content: center;

				@media screen and (min-width: 768px) {
					justify-content: flex-start;
				}

				@media screen and (min-width: 800px) {
					margin: 0 0 5% 0;
				}
				.image {
					width: 131px;
					height: 158px;
					object-fit: contain;

					@media screen and (min-width: 768px) {
						width: 100%;
						height: 434px;
					}

					@media screen and (min-width: 800px) {
						height: auto;
					}
				}
			}

			.name {
				text-align: center;
				font-size: 12.5px;
				font-weight: 300;
				padding: 0 5%;
			}

			.item-price {
				text-align: center;
				margin-top: 3%;
			}
		}
	}
}
