@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');

a {
	text-decoration: none;
	color: black;
}

.subtitle {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 4%;

	@media screen and (min-width: 768px) {
		margin-bottom: 2%;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Roboto, sans-serif;
}

.title {
	font-size: 1rem;
	text-align: center;
	margin-top: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-transform: uppercase;
	@media screen and (min-width: 450px) {
		font-size: 1.4rem;
	}
}

h2::before {
	content: "";
	background: #e0e0e0;
	display: inline-block;
	width: 15%;
	height: 1px;
	box-sizing: border-box;
	margin-right: 2%;
}

h2::after {
	content: "";
	background: #e0e0e0;
	display: inline-block;
	width: 15%;
	height: 1px;
	box-sizing: border-box;
	margin-left: 2%;
}
