.filter-btn{
    outline: none;
    border: transparent;
    display: flex;
    line-height: 1.5;
    font-size: 1rem;
    background: transparent;
    align-items: center;
     span{
         padding-right: 8px;
     }
    .icon-filters {
        margin-top: 2px;
        width: 16px;
        height: 16px;
        position: relative;
        &::before{
            content: "";
            color: #333;
            width: 100%;
            height: 2px;
            box-shadow: currentColor 0px 7px 0px 0px;
            display: block;
            position: absolute;
            top: 3px;
            left: 0px;
            background: #333;
        } 

        &::after {
            content: "";
            color: #333;
            width: 2px;
            height: 6px;
            box-shadow: currentColor 8px 7px 0px 0px;
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            transform: translate3d(3px, 1px, 0px);
            background: #333;
            transition: transform 200ms ease 0s, box-shadow 200ms ease 0s;
        }
    }

}

.is--toggled {
    .icon-filters{
        &::after {
            box-shadow: currentColor -8px 7px 0px 0px;
            transform: translate3d(11px, 1px, 0px);
        }
    }
}