.shopping-cart-title {
    font-size: 1rem;
    margin: 5%;
}

.no-items-container {
    text-align: center;
    padding: 20px 0;
    margin: 8% 0;
     .no-items {
         font-size: 1rem;
         

         &::after, &::before{
             display: none;
         }
     }
}


.items-container {
    

    .item-container {
        display: flex;
        justify-content: flex-start;
        border-top: 1px solid #d3d3d3;
        margin: 0 5%;
        align-items: start;
        position: relative;
        padding: 15px 0;
        .image-container {
            img {
                width: 100px;
                height: 126px;
                object-fit: contain;
            }
        }

        .item-info {
            display: flex;
            flex-direction: column;
            width: 50%;
            align-self: center;
            padding: 0 0 16px 20px;
            line-height: 1.4;

            h4 {
                width: 100%;
            }
            .size {
                font-size: 0.7rem;
            }
            .price {
                font-size: 15px;
            }

            
        }

        .remove {
            width: 20px;
            height: 20px;
            background-color: rgba(10,10,10,0.3);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            position: absolute;
            top: 31px;
            right: 18px;
            cursor: pointer;
        }
    }
}

.sub-total {
    display: flex;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 16px;

}

.checkout-btn {
    display: flex;
    justify-content: center;

    button {
        width: 100%;
        margin: 5% 9%;
        min-height: 52px;
        border: none;
        background-color: black;
        color: #fff;
        font-size: 16px;
    }
}