.shopping-cart-title {
    font-size: 1rem;
    margin: 5% 0 0 5%;
}

.no-items-container {
    text-align: center;
    padding: 20px 0;
    margin: 8% 0;
     .no-items {
         font-size: 1rem;
         

         &::after, &::before{
             display: none;
         }
     }
}


.items-container {
    

    .item-container {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #d3d3d3;
        margin: 0 5%;
        align-items: start;
        position: relative;
        .image-container {
            img {
                width: 100px;
                height: 126px;
                object-fit: contain;
            }
        }

        .item-info {
            display: flex;
            flex-direction: column;
            width: 60%;
            align-self: center;

            h4 {
                width: 50%;
            }

            
        }

        .remove {
            width: 20px;
            height: 20px;
            background-color: rgba(10,10,10,0.3);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            position: absolute;
            top: 33px;
            right: 0;
            cursor: pointer;
        }
    }
}