.form-container {
	margin-top: 8%;
	padding: 0 18px;

	@media screen and (min-width: 768px) {
		padding: 0 30px;
	}

	@media screen and (min-width: 1366px) {
		padding: 0 60px;
	}
	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media screen and (min-width: 800px) {
			width: 50%;
		}
		.title-container {
			width: 100%;
			h1 {
				font-size: 1.5rem;
				margin-bottom: 1.5rem;
			}

			.underline {
				width: 70px;
				border-top: thin solid;
				margin-bottom: 1.2rem;
			}
		}
		label {
			margin-bottom: 2%;
			width: 100%;
		}

		.input-container {
			width: 100%;
			display: flex;
			justify-content: center;
			flex-direction: column;
			margin-bottom: 5%;

			@media screen and (min-width: 1366px) {
				margin-bottom: 2%;
			}

			input {
				padding: 0.5rem 0 0.5rem 0.8rem;
				border: 1px solid transparent;
				border-color: #d3d3d3;
				font-size: 16px;

				&::placeholder {
					color: rgba(54, 54, 54, 0.5);
				}

				@media screen and (min-width: 768px) {
					height: 6vh;
				}

				@media screen and (min-width: 800px) {
					height: 3.8vh;
				}

				@media screen and (min-width: 1366px) {
					height: 5.2vh;
				}
			}

			select {
				padding: 0.7rem 0;

				@media screen and (min-width: 768px) {
					height: 6vh;
				}
			}
			.errors {
				color: red;
				margin-top: 2%;
				text-align: center;
			}
		}

		.form-btn {
			width: 22%;
			align-self: flex-start;
			height: 5vh;
			background-color: #fff;
			border: 1px solid #000;
			font-size: 16px;
			font-weight: 500;
			font-family: 'Oswald', sans-serif;

			@media screen and (min-width: 800px) {
				height: 3.8vh;
			}

			@media screen and (min-width: 1366px) {
				width: 12%;
				height: 4.8vh;
			}
		}

		.returning-or-new-customer {
			font-family: 'Robot', sans-serif;
			font-weight: 300;
			font-size: 15px;
			width: 100%;
			margin-top: 4%;

			a {
				color: gray;
				text-decoration: none;
			}
		}
	}
}
